doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

block content
  h1 Get new address
  a(href="orderbook")
   button(type="button") generate new address




